<html>
    <head>
        <title>Locations of Volunteer Opportunities</title>
    </head>
    <body>
        <h1>Volunteer Locations</h1>
        <p><img id="map" src= "http://pics2.city-data.com/city/maps2/cm15.png"></p>

        <p id="direc">Fill out the following questionaire being as specific as possible.</p>
        <ol>
        <li>Where do you live?<input class="answer" type="text" name="fname"></li>
        <li>In or near what location are you looking to volunteer at? (i.e. Austin, Manor, Pflugerville, etc.)<input class="answer" type="text" name="fname"></li>
        <li>Do you have a car or have access to any other mode of transportation?</li>
        <li>Is there a specific volunteer job you want? If so, what.<input class="answer" type="text" name="fname"></li>
        </ol>
        <button id="button">Submit</button>
    </body>
</html>
